# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.gitignore
.idea/inspectionProfiles/
.idea/workspace.xml
out/
src/redis/clients/jedis/.gitignore
ui/WEB-INF/classes/com/codegen/def/
/.idea/
/out/
/.gitignore
/Git_MyCodeLib.iml
/ui/WEB-INF/classes/
